.loadingPaper {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--background-color);
}

.circularProgress {
  margin-top: 165px;
  color: var(--primary-color);
}
