.wrapper {
  background-color: var(--button-background-color);

  &:hover {
    background-color: var(--hover-color);
  }
}

// Button types
.red {
  background-color: rgb(200, 0, 0);

  &:hover {
    background-color: rgb(230, 0, 0);
  }
}

//Button sizes
.small {
  height: 36px;
  padding: 0 16px;
  border-radius: 18px;
}
