.menu-item {
  display: flex;
  align-items: center;
  color: var(--text-color);
  border-radius: 10px;
  height: 40px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;

  &.active {
    background-color: var(--button-background-color);
    color: var(--primary-color);

    .icon {
      display: none;
    }

    .active-icon {
      display: flex;
    }
  }

  &:hover {
    background-color: #4b4f58;
  }
}

.active-icon {
  display: none;
  margin-right: 24px;
  align-items: center;
}

.wrap {
  display: flex;
  padding: 0 12px;
  width: 100%;
  align-self: center;
}

.icon {
  margin-right: 24px;
  display: flex;
  align-items: center;
}

.title {
  line-height: 40px;
}
