.table {
  width: calc(100% - 24px);
  margin: 0 12px 84px;
  border-collapse: collapse;
}

.table th {
  height: 40px;
  font-size: 14px;
  color: var(--text-color-darker);
  font-weight: 500;
  border-bottom: solid 1px var(--separate-color);
}

.table td {
  color: var(--text-color);
  font-size: 15px;
  border-bottom: solid 1px var(--separate-color);
  vertical-align: top;
  padding: 12px;
}

.loadingPaper {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--background-color);
}

.circularProgress {
  margin-top: 165px;
  color: var(--primary-color);
}
