.wrapper {
  position: fixed;
  width: 232px;
  margin-right: 8px;
  height: calc(100% - var(--default-layout-header-height));
  padding: 0 12px;
  overflow: hidden;

  &:hover {
    overflow-y: scroll;
  }
}

.nav-box {
  border-top: 1px solid;
  border-color: #2c2c2c;
  margin-top: 12px;
  padding-top: 12px;
}

.footer {
  border-top: 1px solid;
  border-color: #2c2c2c;
  margin-top: 12px;
  width: 204px;
}

.footer-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 16px 12px 0;
}

.footer-link {
  font-size: 13px;
  margin-right: 8px;
}

.nav-box-title {
  padding: 2px 12px 4px;
  font-size: 16px;
}

.nav-wrap {
  width: 204px;
}

.wrap {
  display: flex;
  padding: 0 12px;
  width: 100%;
  align-self: center;
}

.icon {
  margin-right: 24px;
  display: flex;
  align-items: center;
}

.title {
  line-height: 40px;
}

.menu-item {
  display: flex;
  align-items: center;
  color: var(--text-color);
  border-radius: 10px;
  height: 40px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  width: 100%;

  &:hover {
    background-color: #4b4f58;
  }
}
