.menu-item {
  display: flex;
  align-items: center;
  color: var(--text-color);
  border-radius: 10px;
  height: 40px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;

  &:hover {
    background-color: #4b4f58;
  }
}

.wrap {
  display: flex;
  padding: 0 10px;
  width: 100%;
  align-self: center;
}

.icon {
  margin-right: 18px;
  display: flex;
  align-items: center;
}

.icon svg {
  height: 22px;
}

.title {
  line-height: 40px;
  font-weight: 400;
}
