.video-img {
  width: 120px;
  height: 83px;
  padding: 8px 0;
}

.video-col-end {
  display: flex;
  width: calc(100% - 120px);
  flex-direction: column;
  padding: 14px 16px 0;
}

.video-name {
  line-height: 15px;
  height: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.video-desc {
  color: var(--text-color-darker);
  font-size: 14px;
  line-height: 14px;
  height: 28px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-top: 8px;
}

.video-row {
  &:hover {
    background-color: #ffffff0a;
  }
}

.btn {
  width: fit-content;
  height: 36px;
  background-color: var(--button-background-color);
  border-radius: 18px;
  padding: 0 16px;

  &:hover {
    background-color: var(--hover-color);
  }
}

.channel-text {
  margin-left: 12px;
}

.channel-picture {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--button-background-color);
}

.channel-name {
  font-size: 15px;
  line-height: 16px;
  color: var(--text-color);
  text-decoration: none;
}

.channel-sub {
  font-size: 14px;
  color: var(--text-color-darker);
  line-height: 16px;
}

.channel-link {
  display: flex;
  align-items: center;
}

.video-link {
  height: 83px;
}

.title-link {
  text-decoration: none;
  color: var(--text-color);
}
