.wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-window {
  width: 400px;
  background-color: var(--button-background-color);
  border-radius: 10px;
  padding: 16px 24px;
  margin-bottom: 40px;
}

.message-title {
  margin-bottom: 6px;
}

.message-lable {
  margin-bottom: 6px;
}

.message {
  color: var(--text-color-darker);
}

.btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
