.wrapper-title {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 1284px;
}

.title-img {
  width: 80px;
  height: 80px;
  margin: 16px 0;
  border-radius: 50%;
  background-position: center;
  background-repeat: none;
  background-size: contain;
}

.channel-name {
  margin-left: 28px;
  font-weight: 500;
}

.separate {
  width: 100%;
  height: 1px;
  background-color: var(--separate-color);
}

.wrapper-videos {
  width: 90%;
  margin: 0 auto;
  max-width: 1284px;
}
