.wrapper-videos {
  width: 90%;
  margin: 0 auto;
  max-width: 1284px;
}

.wrapper-title {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 1284px;
}

.channel-name {
  font-weight: 500;
  margin-top: 24px;
}

.no-video {
  margin-top: 12px;
}

.wrapper {
  padding-bottom: 12px;
}
