.sub-btn {
  background-color: var(--button-background-color);
  height: 36px;
  border-radius: 18px;
  margin-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: max-content;
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    background-color: var(--hover-color);
  }
}
